/* VARIABLES */
:root {
  --primary-color: #f6d8ae;
  --secondary-color: #083d77;
  --tertiary-color: #2e4057;
  --fourth-color: #f4d35e;
  --fifth-color: #cdfff9;
}
/* UNIVERSAL SELECTOR */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--tertiary-color);
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 216, 174, 0.53687412464986) 100%
  );
}

/* HEADER STYLES START */
header {
  padding: 20px 35px;
  background-color: var(--tertiary-color);
  background-image: url("./assets/banners/ban1.png");
  height: 130px;
  background-position: 0% 41%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 3px 3px 3px var(--secondary-color);
  top: 0;
  z-index: 9999;
}
header h1 a {
  font-weight: bold;
  font-size: 68px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 10px 10px 10px;
  color: #f4d35e;
  padding: 10px;
  margin: 0 0 0 1em;
  text-shadow: 0 0 12px rgba(0, 0, 0, 1);
}
header a {
  text-decoration: none;
  color: var(--primary-color);
}

header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}
header ul li a {
  padding: 10px 15px;
  font-weight: 400;
  font-size: 1.7vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}
.navActive {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 15px;
}
/* HEADER STYLES END */

/* ABOUT ME STYLES START */
.about-img {
  height: 600px;
  margin-right: 40px;
  opacity: 0.9;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.about-img:hover {
  opacity: 1;
  box-shadow: 3px 3px 3px var(--tertiary-color);
}
.container {
  display: flex;
  justify-content: space-around;
  margin: 0px 50px 0 50px;
  align-items: center;
  padding: 30px;
}

.about-text {
  margin-left: 40px;
  font-size: 1.4rem;
  line-height: 1.5;
}

#about-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--secondary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-right: 30px;
  margin-left: auto;
}
/* ABOUT ME STYLES END */
/* WORK STYLES START */
.project-basin {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: space-around;
}
.portfolio-header {
  border-bottom: 3px solid var(--primary-color);
  width: 80%;
  text-align: center;
  margin: 0 auto 20px auto;
  font-size: 45px;
  color: var(--secondary-color);
  text-shadow: 0 0 3px rgba(0, 0, 0, .2);
}
.card {
  color: var(--fifth);
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-size: cover;
    opacity: 0.7;
    border: 3px solid var(--secondary-color);
    border-radius: 10px 10px 10px;
    width: 30%;
    height: 250px;
    text-align: center;
    margin: 20px;
}

#work h2 {
  margin: 0;
}
.work-boxes {
  gap: 20px;
}

.card img {
  border-radius: 7px 7px 7px;
  height: 200px;
  width: 100%;
}
.card:hover {
  box-shadow: 3px 3px 3px rgb(46, 64, 87, 0.5);
  background-color: var(--primary-color);
  border: 3px solid var(--secondary-color);
  opacity: 1;
}
.card a p {
  color: var(--tertiary-color);
  font-size: 24px;
}

.card a {
  font-size: 20px;
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: bold;
}
.project-name {
  background-color: var(--fifth-color);
}

.modalBackdrop {
  background: rgba(0, 0, 0, 0.65);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  color: var(--primary-color)
}

.modalContainer {
  background: var(--darker);
  border-radius: 5px;
  max-width: 100%;
  justify-content: center;
  width: 960px;
  text-align: center;
  margin-left:auto;
  margin-right: auto;
}

.modalTitle {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 25px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.modalTitle:hover {
  color: var(--fourth-color);
  text-decoration: underline;
}
.modalContainer a {
  border-radius: 5px;
  color: var(--primary);
  text-decoration: none;
  font-weight: 600;
  padding: 20px 4px;
}
.modalContainer p {
  line-height: 1.4;
  font-size: 20px;
  padding: 5px 0px;
}
.project-img {
  height: 420px;
  margin-bottom: 20px;
}
.button {
  background: var(--primary-color);
  border: 0;
  border-radius: 5px;
  color: var(--secondary-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 10px 15px;
}

/* WORK STYLES END */
/* CONTACT ME STYLES START */
.contact-title {
  color: var(--fourth-color);
  width: 80%;
  font-size: 1.9rem;
  margin-left: 5%;
  text-shadow: 0 0 12px rgba(0, 0, 0, 1);
}
.contact-container {
  margin: 0 27% 0 27%;
  padding: 10px 40px 40px 40px;
}
.contact-bg {
  background-image: url("./assets/banners/ban1.png");
  background-position: 0% 125%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#contact-form {
  align-self: center;
  color: var(--primary-color);
  padding: 15px 20px;
  margin: 0 auto 0 auto;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  background-color: rgb(46, 64, 87, 0.5);
}
#contact-form input,
#contact-form textarea {
  border: 1px solid var(--secondary-color);
  display: block;
  padding: 6px 15px;
  font-size: 16px;
  color: var(--secondary-color);
  width: 100%;
  margin-bottom: 15px;
  margin-top: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.75);
}
#contact-form input:focus,
.contact-form textarea:focus {
  background-color: rgba(255, 255, 255, 1);
  outline: none;
}
#contact-form button {
  width: 20%;
  border: none;
  background: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  border-radius: 10px;
}
#contact-form button:hover {
  color: var(--primary-color);
  background: var(--tertiary-color);
}
/* CONTACT ME STYLES END */
/* RESUME STYLES START */
#resume {
  align-items: center;
}
.resume-link {
  width: 100%;
  text-align: center;
  font-size: 25px;
}
.skill-lists {
  margin: 10px 70px 5px 70px;
}
.skill-lists li {
  font-size: 0.8em;
}
.skill-title {
  font-weight: bold;
  line-height: 1.3;
  padding-bottom: 7px;
}
.resume-title {
  padding: 40px 0px 20px 0px;
}

#resume div {
  font-size: 27px;
  padding: 20px 0 30px 0px;
  display: flex;
  width: 80%;
  justify-content: center;
  margin: auto;
  text-align: center;
}
/* RESUME STYLES END */

/* FOOTER STYLES START */
footer {
  background: var(--secondary-color);
  width: 100%;
  padding: 30px 140px 10px 140px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--primary-color);
}

.icon {
  height: 50px;
}

.copyright {
  width: 100%;
  text-align: center;
  margin: auto;
  padding: 30px 0 0 0;
}
/* FOOTER STYLES END */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    justify-content: center;
    position: relative;
  }
  header h1 {
    width: 100%;
    text-align: center;
  }
  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }
  header nav ul li a {
    font-size: 20px;
  }
  .hero {
    position: relative;
  }
  .hero h2 {
    padding: 0 0 50px 50px;
    position: absolute;
    top: 10px;
    width: 40%;
  }
  .section-title {
    width: 22%;
    height: 600px;
    font-size: 40px;
    align-content: flex-start;
  }
  .contact-info iframe {
    flex: 1 100%;
  }
  footer h2,
  footer div {
    text-align: center;
    width: 100%;
  }
  #contact-me h2 {
    height: 740px;
    padding: 0 30px 0 0;
  }
  .contact-info {
    display: flex;
    flex-wrap: wrap;
  }
  .address {
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
  }
  #resume h2 {
    height: 200px;
  }
  #resume h3 {
    border-top: none;
    margin: 0 30px;
    width: 40%;
  }
  .flex-row {
    flex-wrap: nowrap;
  }
  #resume div {
    width: auto;
  }
}
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }
  .hero h2 {
    padding: 0 0 70px 0;
  }
  .section-title {
    width: 100%;
    height: 45px;
    justify-content: center;
    border-bottom: 3px solid;
  }
  .about-me-text {
    width: 100%;
  }
  .projects {
    justify-content: center;
    height: 700px;
  }
  .project {
    width: 48%;
    padding: 0;
    margin: 0;
  }
  #work h2 {
    height: 50px;
  }
  #nat-park-picker {
    height: 200px;
    width: 100%;
  }
  #contact-me {
    display: block;
  }
  #contact-me h2 {
    width: 100%;
    height: 45px;
    border-bottom: 3px solid;
  }
  .contact-info {
    width: auto;
  }
  #resume h2 {
    height: 45px;
  }
  #resume h3 {
    width: 100%;
    font-size: 30px;
  }
  .flex-row {
    display: block;
  }
}
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .hero h2 {
    padding: 0;
  }
  .section-title {
    width: 95%;
  }
  .intro p {
    width: 100%;
  }
  .contact-info {
    text-align: center;
  }
  .contact-info > * {
    flex: 0 100%;
  }
  #resume h3 {
    padding: 20px 0 0 0;
  }
  #resume div {
    padding: 0;
  }
}
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 400px) {
  .project {
    width: 100%;
  }
  .projects {
    padding: 100px 0 600px 0;
  }
  #work {
    height: 900px;
  }
  .contact-info > * {
    margin: 20px 0 0 0;
  }
}
